<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".SingleProductPage"
            android:parentActivityName=".PInfo">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".CreateNewStore"
            android:exported="false" />
        <activity
            android:name=".AccountDeclaration"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".SellerDashboard"
            android:exported="false" />
        <activity
            android:name=".BuyerDashboard"
            android:exported="false" />
        <activity
            android:name=".ChangeUsername"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".ChangeName"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".ChangeEmail"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".ChangePassword"
            android:exported="false"
            android:noHistory="true" />

        <activity android:name=".MoreInfoStore"
            android:parentActivityName=".PInfo">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".PInfo"
            android:parentActivityName=".BuyerDashboard">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".RegisterActivity2"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".LoadingUserActivity"
            android:noHistory="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>